In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, FloatType

# Create a Spark session
spark = SparkSession.builder \
    .appName("Lending Club Data Analysis") \
    .getOrCreate()

# Define the schema
customer_schema = StructType([
    StructField("member_id", StringType(), True),
    StructField("emp_title", StringType(), True),
    StructField("emp_length", StringType(), True),
    StructField("home_ownership", StringType(), True),
    StructField("annual_inc", FloatType(), True),
    StructField("addr_state", StringType(), True),
    StructField("zip_code", StringType(), True),
    StructField("country", StringType(), True),
    StructField("grade", StringType(), True),
    StructField("sub_grade", StringType(), True),
    StructField("verification_status", StringType(), True),
    StructField("tot_hi_cred_lim", FloatType(), True),
    StructField("application_type", StringType(), True),
    StructField("annual_inc_joint", FloatType(), True),
    StructField("verification_status_joint", StringType(), True)
])

# Load the CSV file
customers_raw_df = spark.read \
    .format("csv") \
    .option("header", True) \
    .schema(customer_schema) \
    .load("F:/SparkProject/lendingclubproject_datasets/lendingclubproject/raw/customers_data_csv/part-00000-694b65c5-0b8f-4760-ac12-2b59978292e0-c000.csv")

# Show the first few records from the DataFrame
customers_raw_df.show()

+--------------------+--------------------+----------+--------------+----------+----------+--------+-------+-----+---------+-------------------+---------------+----------------+----------------+-------------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_inc|addr_state|zip_code|country|grade|sub_grade|verification_status|tot_hi_cred_lim|application_type|annual_inc_joint|verification_status_joint|
+--------------------+--------------------+----------+--------------+----------+----------+--------+-------+-----+---------+-------------------+---------------+----------------+----------------+-------------------------+
|b59d80da191f5b573...|                NULL|      NULL|          RENT|   50000.0|        OR|   973xx|    USA|    A|       A5|    Source Verified|         8600.0|      Individual|            NULL|                     NULL|
|202d9f56ecb7c3bc9...|      police officer|   7 years|           OWN|   85000.0|        TX|   799xx|    USA|    A|       A5|    Source Verified|       272384.0|      Individual|            NULL|                     NULL|
|e5a140c0922b554b9...|community living ...|   6 years|          RENT|   48000.0|        NY|   146xx|    USA|    B|       B2|    Source Verified|        85092.0|      Individual|            NULL|                     NULL|
|e12aefc548f750777...|              Office| 10+ years|           OWN|   33000.0|        CT|   067xx|    USA|    F|       F1|           Verified|         7100.0|      Individual|            NULL|                     NULL|
|1b3a50d854fbbf97e...|Special Tooling I...| 10+ years|      MORTGAGE|   81000.0|        TX|   791xx|    USA|    E|       E5|           Verified|       190274.0|      Individual|            NULL|                     NULL|
|1c4329e5f17697127...|     Mine ops tech 6|   2 years|      MORTGAGE|   68000.0|        AZ|   855xx|    USA|    C|       C3|       Not Verified|       182453.0|      Individual|            NULL|                     NULL|
|5026c86ad983175eb...|           caregiver|   4 years|          RENT|   76020.0|        WA|   993xx|    USA|    C|       C2|    Source Verified|        15308.0|      Individual|            NULL|                     NULL|
|9847d8c1e9d0b2084...|                NULL|      NULL|           OWN|   65000.0|        IL|   624xx|    USA|    E|       E3|           Verified|       128800.0|      Individual|            NULL|                     NULL|
|8340dbe1adea41fb4...|Vice President Re...|   8 years|      MORTGAGE|  111000.0|        CT|   063xx|    USA|    A|       A1|       Not Verified|       343507.0|      Individual|            NULL|                     NULL|
|d4de0de3ab7d79ad4...|             FOREMAN| 10+ years|      MORTGAGE|   67000.0|        WA|   992xx|    USA|    G|       G2|           Verified|       211501.0|      Individual|            NULL|                     NULL|
|3df3cdeddb74a8712...|          Strategist|    1 year|          RENT|  120000.0|        CA|   946xx|    USA|    A|       A5|           Verified|        56844.0|      Individual|            NULL|                     NULL|
|9dd72636b1b4045b4...|      Office Manager|   2 years|          RENT|   52000.0|        FL|   327xx|    USA|    D|       D1|    Source Verified|        39393.0|      Individual|            NULL|                     NULL|
|1d4e1ef4353b73c00...|         Electrician|   2 years|      MORTGAGE|   50000.0|        IL|   606xx|    USA|    C|       C3|       Not Verified|        66064.0|      Individual|            NULL|                     NULL|
|6f196952e71277fd4...|     Finance Manager|    1 year|      MORTGAGE|  125000.0|        GA|   310xx|    USA|    E|       E2|    Source Verified|       555591.0|      Individual|            NULL|                     NULL|
|9c617cbc6e3e3d6a1...|  Nurse practitioner|   5 years|      MORTGAGE|  165000.0|        IL|   610xx|    USA|    F|       F1|    Source Verified|       366113.0|      Individual|            NULL|                     NULL|
|45eb04dd75400a942...|  equipment operator|   3 years|      MORTGAGE|   60000.0|        CT|   064xx|    USA|    C|       C4|    Source Verified|       198693.0|      Individual|            NULL|                     NULL|
|08d233c81f9e50726...|           caregiver|   2 years|          RENT|   36000.0|        MO|   648xx|    USA|    C|       C1|    Source Verified|        14477.0|      Individual|            NULL|                     NULL|
|8ff4d0ed17a1cab92...|               owner| 10+ years|      MORTGAGE|   28000.0|        CO|   801xx|    USA|    D|       D1|           Verified|       314400.0|      Individual|            NULL|                     NULL|
|aec13cfd611b2cfea...|Community Supervi...|   2 years|          RENT|   33000.0|        GA|   306xx|    USA|    D|       D2|    Source Verified|       188700.0|      Individual|            NULL|                     NULL|
|9ba8c96ccba6cd1f0...| Contract Specialist|   5 years|      MORTGAGE|   74700.0|        UT|   844xx|    USA|    D|       D4|           Verified|       614272.0|      Individual|            NULL|                     NULL|
+--------------------+--------------------+----------+--------------+----------+----------+--------+-------+-----+---------+-------------------+---------------+----------------+----------------+-------------------------+
only showing top 20 rows

#### 1. create a dataframe with proper datatypes

In [19]:
customers_raw_df.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: float (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- country: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- tot_hi_cred_lim: float (nullable = true)
 |-- application_type: string (nullable = true)
 |-- annual_inc_joint: float (nullable = true)
 |-- verification_status_joint: string (nullable = true)

#### 2. Rename a few columns

In [20]:
customer_df_renamed = customers_raw_df.withColumnRenamed("annual_inc", "annual_income") \
.withColumnRenamed("addr_state", "address_state") \
.withColumnRenamed("zip_code", "address_zipcode") \
.withColumnRenamed("country", "address_country") \
.withColumnRenamed("tot_hi_credit_lim", "total_high_credit_limit") \
.withColumnRenamed("annual_inc_joint", "join_annual_income")

In [21]:
customer_df_renamed.show()

+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+---------------+----------------+------------------+-------------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|tot_hi_cred_lim|application_type|join_annual_income|verification_status_joint|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+---------------+----------------+------------------+-------------------------+
|b59d80da191f5b573...|                NULL|      NULL|          RENT|      50000.0|           OR|          973xx|            USA|    A|       A5|    Source Verified|         8600.0|      Individual|              NULL|                     NULL|
|202d9f56ecb7c3bc9...|      police officer|   7 years|           OWN|      85000.0|           TX|          799xx|            USA|    A|       A5|    Source Verified|       272384.0|      Individual|              NULL|                     NULL|
|e5a140c0922b554b9...|community living ...|   6 years|          RENT|      48000.0|           NY|          146xx|            USA|    B|       B2|    Source Verified|        85092.0|      Individual|              NULL|                     NULL|
|e12aefc548f750777...|              Office| 10+ years|           OWN|      33000.0|           CT|          067xx|            USA|    F|       F1|           Verified|         7100.0|      Individual|              NULL|                     NULL|
|1b3a50d854fbbf97e...|Special Tooling I...| 10+ years|      MORTGAGE|      81000.0|           TX|          791xx|            USA|    E|       E5|           Verified|       190274.0|      Individual|              NULL|                     NULL|
|1c4329e5f17697127...|     Mine ops tech 6|   2 years|      MORTGAGE|      68000.0|           AZ|          855xx|            USA|    C|       C3|       Not Verified|       182453.0|      Individual|              NULL|                     NULL|
|5026c86ad983175eb...|           caregiver|   4 years|          RENT|      76020.0|           WA|          993xx|            USA|    C|       C2|    Source Verified|        15308.0|      Individual|              NULL|                     NULL|
|9847d8c1e9d0b2084...|                NULL|      NULL|           OWN|      65000.0|           IL|          624xx|            USA|    E|       E3|           Verified|       128800.0|      Individual|              NULL|                     NULL|
|8340dbe1adea41fb4...|Vice President Re...|   8 years|      MORTGAGE|     111000.0|           CT|          063xx|            USA|    A|       A1|       Not Verified|       343507.0|      Individual|              NULL|                     NULL|
|d4de0de3ab7d79ad4...|             FOREMAN| 10+ years|      MORTGAGE|      67000.0|           WA|          992xx|            USA|    G|       G2|           Verified|       211501.0|      Individual|              NULL|                     NULL|
|3df3cdeddb74a8712...|          Strategist|    1 year|          RENT|     120000.0|           CA|          946xx|            USA|    A|       A5|           Verified|        56844.0|      Individual|              NULL|                     NULL|
|9dd72636b1b4045b4...|      Office Manager|   2 years|          RENT|      52000.0|           FL|          327xx|            USA|    D|       D1|    Source Verified|        39393.0|      Individual|              NULL|                     NULL|
|1d4e1ef4353b73c00...|         Electrician|   2 years|      MORTGAGE|      50000.0|           IL|          606xx|            USA|    C|       C3|       Not Verified|        66064.0|      Individual|              NULL|                     NULL|
|6f196952e71277fd4...|     Finance Manager|    1 year|      MORTGAGE|     125000.0|           GA|          310xx|            USA|    E|       E2|    Source Verified|       555591.0|      Individual|              NULL|                     NULL|
|9c617cbc6e3e3d6a1...|  Nurse practitioner|   5 years|      MORTGAGE|     165000.0|           IL|          610xx|            USA|    F|       F1|    Source Verified|       366113.0|      Individual|              NULL|                     NULL|
|45eb04dd75400a942...|  equipment operator|   3 years|      MORTGAGE|      60000.0|           CT|          064xx|            USA|    C|       C4|    Source Verified|       198693.0|      Individual|              NULL|                     NULL|
|08d233c81f9e50726...|           caregiver|   2 years|          RENT|      36000.0|           MO|          648xx|            USA|    C|       C1|    Source Verified|        14477.0|      Individual|              NULL|                     NULL|
|8ff4d0ed17a1cab92...|               owner| 10+ years|      MORTGAGE|      28000.0|           CO|          801xx|            USA|    D|       D1|           Verified|       314400.0|      Individual|              NULL|                     NULL|
|aec13cfd611b2cfea...|Community Supervi...|   2 years|          RENT|      33000.0|           GA|          306xx|            USA|    D|       D2|    Source Verified|       188700.0|      Individual|              NULL|                     NULL|
|9ba8c96ccba6cd1f0...| Contract Specialist|   5 years|      MORTGAGE|      74700.0|           UT|          844xx|            USA|    D|       D4|           Verified|       614272.0|      Individual|              NULL|                     NULL|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+---------------+----------------+------------------+-------------------------+
only showing top 20 rows

In [22]:
from pyspark.sql.functions import current_timestamp

#### 3. insert a new column named as ingestion date(current time)

In [23]:
customers_df_ingestd = customer_df_renamed.withColumn("ingest_date", current_timestamp())

In [24]:
customers_df_ingestd

DataFrame[member_id: string, emp_title: string, emp_length: string, home_ownership: string, annual_income: float, address_state: string, address_zipcode: string, address_country: string, grade: string, sub_grade: string, verification_status: string, tot_hi_cred_lim: float, application_type: string, join_annual_income: float, verification_status_joint: string, ingest_date: timestamp]

#### 4. Remove complete duplicate rows

In [25]:
customers_df_ingestd.count()

2260701

In [26]:
customers_distinct = customers_df_ingestd.distinct()

In [27]:
customers_distinct.count()

2260638

In [28]:
customers_distinct.createOrReplaceTempView("customers")

In [29]:
spark.sql("select * from customers")

DataFrame[member_id: string, emp_title: string, emp_length: string, home_ownership: string, annual_income: float, address_state: string, address_zipcode: string, address_country: string, grade: string, sub_grade: string, verification_status: string, tot_hi_cred_lim: float, application_type: string, join_annual_income: float, verification_status_joint: string, ingest_date: timestamp]

#### 5. Remove the rows where annual_income is null

In [30]:
spark.sql("select count(*) from customers where annual_income is null")

DataFrame[count(1): bigint]

In [31]:
customers_income_filtered = spark.sql("select * from customers where annual_income is not null")

In [32]:
customers_income_filtered.createOrReplaceTempView("customers")

In [33]:
spark.sql("select count(*) from customers where annual_income is null")

DataFrame[count(1): bigint]

### 6. convert emp_length to integer

In [34]:
spark.sql("select distinct(emp_length) from customers")

DataFrame[emp_length: string]

In [35]:
from pyspark.sql.functions import regexp_replace, col

In [36]:
customers_emplength_cleaned = customers_income_filtered.withColumn("emp_length", regexp_replace(col("emp_length"), "(\D)",""))

In [62]:
customers_emplength_cleaned.show(2)

+--------------------+------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+---------------+----------------+------------------+-------------------------+--------------------+
|           member_id|   emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|tot_hi_cred_lim|application_type|join_annual_income|verification_status_joint|         ingest_date|
+--------------------+------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+---------------+----------------+------------------+-------------------------+--------------------+
|a8673da8252d87f2f...|housekeeping|         3|          RENT|      30000.0|           MD|          208xx|            USA|    B|       B4|       Not Verified|        69200.0|       Joint App|          100000.0|             Not Verified|2024-04-20 08:51:...|
|f36784a6d1e420f62...|  Electrican|         2|      MORTGAGE|      70000.0|           IL|          615xx|            USA|    D|       D2|       Not Verified|       263820.0|       Joint App|          138000.0|             Not Verified|2024-04-20 08:51:...|
+--------------------+------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+---------------+----------------+------------------+-------------------------+--------------------+
only showing top 2 rows

In [38]:
customers_emplength_cleaned.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_income: float (nullable = true)
 |-- address_state: string (nullable = true)
 |-- address_zipcode: string (nullable = true)
 |-- address_country: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- tot_hi_cred_lim: float (nullable = true)
 |-- application_type: string (nullable = true)
 |-- join_annual_income: float (nullable = true)
 |-- verification_status_joint: string (nullable = true)
 |-- ingest_date: timestamp (nullable = false)

In [39]:
customers_emplength_casted = customers_emplength_cleaned.withColumn("emp_length", customers_emplength_cleaned.emp_length.cast('int'))

In [40]:
customers_emplength_casted

DataFrame[member_id: string, emp_title: string, emp_length: int, home_ownership: string, annual_income: float, address_state: string, address_zipcode: string, address_country: string, grade: string, sub_grade: string, verification_status: string, tot_hi_cred_lim: float, application_type: string, join_annual_income: float, verification_status_joint: string, ingest_date: timestamp]

In [41]:
customers_emplength_casted.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: integer (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_income: float (nullable = true)
 |-- address_state: string (nullable = true)
 |-- address_zipcode: string (nullable = true)
 |-- address_country: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- tot_hi_cred_lim: float (nullable = true)
 |-- application_type: string (nullable = true)
 |-- join_annual_income: float (nullable = true)
 |-- verification_status_joint: string (nullable = true)
 |-- ingest_date: timestamp (nullable = false)

#### 7. we need to replace all the nulls in emp_length column with average of this column

In [42]:
customers_emplength_casted.filter("emp_length is null").count()

146903

In [43]:
customers_emplength_casted.createOrReplaceTempView("customers")

In [44]:
avg_emp_length = spark.sql("select floor(avg(emp_length)) as avg_emp_length from customers").collect()

In [45]:
print(avg_emp_length)

[Row(avg_emp_length=6)]

In [46]:
avg_emp_duration = avg_emp_length[0][0]

In [47]:
print(avg_emp_duration)

6

In [48]:
customers_emplength_replaced = customers_emplength_casted.na.fill(avg_emp_duration, subset=['emp_length'])

In [49]:
customers_emplength_replaced

DataFrame[member_id: string, emp_title: string, emp_length: int, home_ownership: string, annual_income: float, address_state: string, address_zipcode: string, address_country: string, grade: string, sub_grade: string, verification_status: string, tot_hi_cred_lim: float, application_type: string, join_annual_income: float, verification_status_joint: string, ingest_date: timestamp]

In [50]:
customers_emplength_replaced.filter("emp_length is null").count()

0

#### 8. Clean the address_state(it should be 2 characters only),replace all others with NA

In [51]:
customers_emplength_replaced.createOrReplaceTempView("customers")

In [52]:
spark.sql("select distinct(address_state) from customers")

DataFrame[address_state: string]

In [53]:
spark.sql("select count(address_state) from customers where length(address_state)>2")

DataFrame[count(address_state): bigint]

In [54]:
from pyspark.sql.functions import when, col, length

In [55]:
customers_state_cleaned = customers_emplength_replaced.withColumn(
    "address_state",
    when(length(col("address_state"))> 2, "NA").otherwise(col("address_state"))
)

In [56]:
customers_state_cleaned

DataFrame[member_id: string, emp_title: string, emp_length: int, home_ownership: string, annual_income: float, address_state: string, address_zipcode: string, address_country: string, grade: string, sub_grade: string, verification_status: string, tot_hi_cred_lim: float, application_type: string, join_annual_income: float, verification_status_joint: string, ingest_date: timestamp]

In [57]:
customers_state_cleaned.select("address_state").distinct()

DataFrame[address_state: string]

In [61]:
customers_state_cleaned.show()

+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+---------------+----------------+------------------+-------------------------+--------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|tot_hi_cred_lim|application_type|join_annual_income|verification_status_joint|         ingest_date|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+---------------+----------------+------------------+-------------------------+--------------------+
|c51b39d26682986e1...|      formen general|        10|      MORTGAGE|      85000.0|           OR|          978xx|            USA|    A|       A4|       Not Verified|       340424.0|       Joint App|          115000.0|             Not Verified|2024-04-20 08:40:...|
|8b70de27b068711a4...|     General manager|        10|           OWN|      45000.0|           OH|          456xx|            USA|    B|       B5|       Not Verified|        42870.0|       Joint App|           91000.0|             Not Verified|2024-04-20 08:40:...|
|7b4032ee3e505fa72...|      office manager|        10|      MORTGAGE|      65000.0|           WA|          989xx|            USA|    C|       C1|       Not Verified|       387825.0|       Joint App|          140000.0|             Not Verified|2024-04-20 08:40:...|
|91e30e10c481806b5...|      Police Officer|         3|          RENT|      70000.0|           NH|          038xx|            USA|    C|       C4|           Verified|        95019.0|       Joint App|          100000.0|          Source Verified|2024-04-20 08:40:...|
|47d2b78e288887d4a...|             laborer|         6|          RENT|      55000.0|           IL|          604xx|            USA|    D|       D2|       Not Verified|        42191.0|       Joint App|          109000.0|             Not Verified|2024-04-20 08:40:...|
|b8aeda5f27e6d0c82...|             manager|        10|      MORTGAGE|      60000.0|           KS|          671xx|            USA|    C|       C1|    Source Verified|       305132.0|       Joint App|          125000.0|          Source Verified|2024-04-20 08:40:...|
|b9a4ca3a036bf1e44...|             Manager|        10|      MORTGAGE|      65000.0|           OH|          442xx|            USA|    B|       B3|       Not Verified|       204790.0|       Joint App|          130000.0|             Not Verified|2024-04-20 08:40:...|
|9abdd9a15bca4e5df...| Contract Specialist|         4|          RENT|      40000.0|           HI|          967xx|            USA|    C|       C3|    Source Verified|        24600.0|       Joint App|           82000.0|          Source Verified|2024-04-20 08:40:...|
|b1a139290e800e6c7...|                HVAC|        10|           OWN|      45000.0|           AZ|          852xx|            USA|    A|       A4|    Source Verified|       101106.0|       Joint App|          171900.0|          Source Verified|2024-04-20 08:40:...|
|94130fdc6031f3f93...|Director of Stand...|         2|      MORTGAGE|      90000.0|           TN|          371xx|            USA|    A|       A2|       Not Verified|       504614.0|       Joint App|          185000.0|             Not Verified|2024-04-20 08:40:...|
|9105fc799611d025d...|Information Secur...|         2|      MORTGAGE|     163000.0|           AZ|          851xx|            USA|    C|       C3|    Source Verified|       452463.0|       Joint App|          163000.0|             Not Verified|2024-04-20 08:40:...|
|3ed203c1fa588d568...|             Manager|         9|           OWN|      35000.0|           AK|          995xx|            USA|    A|       A3|           Verified|       421180.0|       Joint App|          100000.0|                 Verified|2024-04-20 08:40:...|
|54d52bf7fd0199acf...|Direct Support Pr...|         1|          RENT|      19000.0|           NY|          144xx|            USA|    D|       D3|    Source Verified|        16759.0|       Joint App|           40000.0|          Source Verified|2024-04-20 08:40:...|
|649acace81b954b1b...|             TEACHER|         5|      MORTGAGE|      68000.0|           TX|          770xx|            USA|    C|       C1|       Not Verified|       318025.0|       Joint App|          133000.0|             Not Verified|2024-04-20 08:40:...|
|cdb9595435aa90c01...|Asst terminal man...|         1|      MORTGAGE|      83000.0|           CT|          064xx|            USA|    A|       A4|       Not Verified|       473367.0|       Joint App|          100680.0|             Not Verified|2024-04-20 08:40:...|
|a9107b5efa5e417c7...|       Cosmetologist|        10|           OWN|      35000.0|           CA|          900xx|            USA|    B|       B3|       Not Verified|       287400.0|       Joint App|           65000.0|             Not Verified|2024-04-20 08:40:...|
|637fd0d391aa3d3d9...|CAD, Project Coor...|         2|      MORTGAGE|      57000.0|           TN|          370xx|            USA|    B|       B5|       Not Verified|       183085.0|       Joint App|           69000.0|             Not Verified|2024-04-20 08:40:...|
|bcd6a8ea40a6132e7...|Heavy Equipment O...|         2|           OWN|      66133.0|           GA|          305xx|            USA|    D|       D5|    Source Verified|        12500.0|       Joint App|          115133.0|          Source Verified|2024-04-20 08:40:...|
|c8969c9eb9746a767...|      Letter carrier|        10|      MORTGAGE|      70000.0|           NY|          128xx|            USA|    D|       D5|       Not Verified|        45656.0|       Joint App|           90000.0|             Not Verified|2024-04-20 08:40:...|
|d27c5b6aeff9f8ad2...|      Chief of Staff|         5|      MORTGAGE|      60000.0|           DC|          200xx|            USA|    A|       A1|    Source Verified|       487925.0|       Joint App|          220000.0|          Source Verified|2024-04-20 08:40:...|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+---------------+----------------+------------------+-------------------------+--------------------+
only showing top 20 rows

In [59]:
# customers_state_cleaned.write \
# .format("parquet") \
# .mode("overwrite") \
# .option("path", "/user/itv006277/lendingclubproject/raw/cleaned/customers_parquet") \
# .save()

In [60]:
# customers_state_cleaned.write \
# .option("header", True) \
# .format("csv") \
# .mode("overwrite") \
# .option("path", "/user/itv006277/lendingclubproject/raw/cleaned/customers_csv") \
# .save()